body {
    text-align: center;
}

h1 { 
font-size: 72px;
    margin-top: 225px;
    margin-bottom: 0px;
}

h2 {
    font-size: 33px;
    margin-top: 20px;
}

.sovrattitolo {
    font-size: 32px;
    margin: 7px;
}

.sottosottotitolo {
    font-size: 25px;
}

.gratuito {
    font-size: 25px;
    margin: 7px;
}

a { 
display: inline-block;
        font-size: 40px;
        margin-top: 135px;
}

.scelta {
    width: 280px;
    height: 455px;
    border: 4px solid black;
    background-color: white;
    z-index: 1;
}

.scelta p {
    font-size: 20px;
        position: relative;
    top: 104px;
}

.scelte { 
    display: flex;
    justify-content: center; 
    gap: 8px;
    margin-top: 90px;
    z-index: 1;
}


.modal { 
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

}

.CosaDesideri {
    margin-top: 100px;
    z-index: 1;
    color: white;
    position: relative;
    

}

.sfondo {
    background-color: rgba(0 ,0 ,0 ,0.85);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
}

.chiudi {
    position: absolute;
    top: 57px;
    left: 85px;
    font-size: 58px;
    z-index: 2;
    background-color: black;
    color: white;
    width: 70px;
    height: 70px;
}
