body {
    text-align: center;
}

h1 { 
font-size: 72px;
    margin-top: 225px;
    margin-bottom: 40px;
}

h2 {
    font-size: 33px;
}

.sovrattitolo {
    font-size: 30px;
    margin: 7px;
}

.scritta {
    font-size: 20px;
