body {
    text-align: center;
}

h1 { 
font-size: 72px;
    margin-top: 225px;
    margin-bottom: 0px;
}

h2 {
    font-size: 33px;
    margin-top: 20px;
}

.sovrattitolo {
    font-size: 32px;
    margin: 7px;
}

.sottosottotitolo {
    font-size: 25px;
}

.gratuito {
    font-size: 25px;
    margin: 7px;
}
